<section class="contact container">
  <form class="contact__form form" action="">
    <h1 class="contact__title">Contact me</h1>
    <input
      class="contact__email input"
      type="email"
      name="contact__email"
      id="contact"
      placeholder="E-mail" />
    <input
      class="contact__tel input"
      type="tel"
      name="contact__tel"
      id="contact"
      placeholder="Phone" />
    <input
      class="contact__message input"
      wrap="soft"
      cols="4"
      type="textarea"
      name="contact__message"
      id="contact"
      placeholder="Message" />
    <button class="contact__btn" type="submit" name="contact__btn" id="contact">
      Send message
    </button>
  </form>
</section>
