<footer class="footer__section container">
  <p class="footer__text">© 2023 github</p>
  <p class="footer__text">Rolling Scopes School</p>
  <svg width="32" height="32" class="footer__icons">
    <use href="./images/symbol-defs67.svg#icon-Vectoricons"></use>
  </svg>
  <svg width="32" height="32" class="footer__icons">
    <use href="./images/symbol-defs67.svg#icon-fb-1icons"></use>
  </svg>
  <svg width="32" height="32" class="footer__icons">
    <use href="./images/symbol-defs67.svg#icon-tw-1icons"></use>
  </svg>
  <svg width="32" height="32" class="footer__icons">
    <use href="./images/symbol-defs67.svg#icon-pinterest-1icons"></use>
  </svg>
</footer>
