<section class="price container">
  <h2 class="price_title">Price</h2>
  <div>
    <div class="price_standart">
      <h5>Standart</h5>
      <div class="price_price">
        <p>500$</p>
      </div>

      <p>One location</p>
      <p>120 photos in color</p>
      <p>Readiness 2-3 weeks</p>
      <p>Make up, visage</p>
      <button class="price_button">Order shooting</button>
    </div>

    <div class="price_premium">
      <h5>Premium</h5>
      <div class="price_price">
        <p>700 $</p>
      </div>

      <p>One or two locations</p>
      <p>200 photos in color</p>
      <p>20 photos in retouch</p>
      <p>Readiness 1-2 weeks</p>
      <p>Make up, visage</p>
      <button class="price_button">Order shooting</button>
    </div>
    <div class="price_gold">
      <h5>Gold</h5>
      <div class="price_price">
        <p>1000 $</p>
      </div>
      <p>Three locations or more</p>
      <p>300 photos in color</p>
      <p>50 photos in retouch</p>
      <p>Readiness 1 week</p>
      <p>Make up, visage, hairstyle</p>
      <button class="price_button">Order shooting</button>
    </div>
  </div>
</section>
