<section class="skills container">
  <h2 class="skills__title">Skills</h2>
  <ul class="skills__list">
    <li class="skills__item">
      <div class="skills__elem">
        <svg width="62" height="50">
          <use href="./images/sprite.svg#icon-camera"></use>
        </svg>
        <h3 class="elem__title">Digital photography</h3>
        <p class="skills__text">
          High-quality photos in the studio and on the nature
        </p>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills__elem">
        <svg width="62" height="50">
          <use href="./images/sprite.svg#icon-video"></use>
        </svg>
        <h3 class="elem__title">Digital photography</h3>
        <p class="skills__text">
          Capture your moments so that they always stay with you
        </p>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills__elem">
        <svg width="62" height="50">
          <use href="./images/sprite.svg#icon-image"></use>
        </svg>
        <h3 class="elem__title">Digital photography</h3>
        <p class="skills__text">I strive to make photography surpass reality</p>
      </div>
    </li>
    <li class="skills__item">
      <div class="skills__elem">
        <svg width="32" height="50">
          <use href="./images/sprite.svg#icon-mic"></use>
        </svg>
        <h3 class="elem__title">Digital photography</h3>
        <p class="skills__text">
          Professional sounds recording for video, advertising, portfolio
        </p>
      </div>
    </li>
  </ul>
</section>
